<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resposta</title>
        <link rel="stylesheet" href="estilos.css">
    </head>

    <body>
        <ul class="header">
            <a href="/"><li class="botao">Home</li></a>
            <a href="/cadastrar"><li class="botao">Cadastrar</li></a>
            <a href="/login"><li class="botao">Login</li></a>
        </ul>
        <div class="corpo">
            <div class="coluna2">
                <h2 class="titulo">Resposta</h2>
                <div class="titulo">
                    <%= resposta %>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </body>
</html>
