<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Usuario</title>
        <link rel="stylesheet" href="estilos.css">
    </head>

    <body>
        <ul class="header">
            <a href="/"><li class="botao">Home</li></a>
            <a href="/cadastrar"><li class="botao">Cadastrar</li></a>
            <a href="/login"><li class="botao">Login</li></a>
            <a href="/usuario"><li class="botao">Usuario</li></a>
        </ul>
        <div class="corpo">
            <div class="coluna1">
                <ul class="atual">
                    <li class="titulo"><strong>Marcas de Carros</strong></li>
                    <li class="titulo">Marca 1</li>
                    <li class="titulo">Marca 2</li>
                    <li class="titulo">Marca 3</li>
                    <li class="titulo">Marca 4</li>
                    <li class="titulo">Marca 5</li>
                </ul>
            </div>
            <div class="coluna2">
                <h2 class="titulo">Atualizar usuario</h2>
                <div class="titulo">
                    <form action="/atualizar_usuario" method="post">
                        <p>Login:<input type="text" name="login"></p>
                        <p>Senha:<input type="text" name="senha"></p>
                        <p>Senha Nova:<input type="text" name="novasenha"></p>
                        <input type="submit" value="Atualizar Senha!">
                    </form>
                </div>
                
                <h2 class="titulo">Deletar usuario</h2>
                <div class="titulo">
                    <form action="/deletar_usuario" method="post">
                        <p>Login:<input type="text" name="login"></p>
                        <p>Senha:<input type="text" name="senha"></p>
                        <input type="submit" value="Atualizar Senha!">
                    </form>
                </div>
            </div>
            <div class="coluna3">
                <ul class="atual">
                    <li class="titulo"><strong>Quantidade de Carros Disponiveis</strong></li>
                    <li class="titulo">Marca 1:  Carros disponiveis</li>
                    <li class="titulo">Marca 2:  Carros disponiveis</li>
                    <li class="titulo">Marca 3:  Carros disponiveis</li>
                    <li class="titulo">Marca 4:  Carros disponiveis</li>
                    <li class="titulo">Marca 5:  Carros disponiveis</li>
                </ul>
            </div>
        </div>
        <div class="footer">

        </div>
    </body>
</html>
