<!DOCTYPE.html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="estilos.css" rel="stylesheet">
        <title>Project</title>
    </head>
    <body>
<!-- Cabeçalho -->
        <ul class="header">
            <a href="home.html"><li class="botao">Home</li></a>
            <a href="project.html"><li class="botao">Projetos</li></a>
            <a href="/blog"><li class="botao">Blog</li></a>
        </ul>
<!-- Coluna da Esquerda -->
        <div class="corpo">
            <div class="coluna1">
                <ul class="navegador">
                </ul>
            </div>
    <!-- Corpo do Site -->
            <div class="coluna2">
                <form action="/criar_post" method="post">
                    <p>Titulo:<br><input type="text" name="titulo"></p>
                    <p>Resumo:<br><input type="text" name="resumo"></p>
                    <p>Conteúdo:<br><input type="text" name="mensagem"></p>
                    <div class="titulo">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
    <!-- Coluna da Direita -->
            <div class="coluna3">
                <ul class="atual">
                </ul>
            </div>
        </div>
    </body>
</html>