<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="estilos.css" rel="stylesheet">
    </head>

    <body>
        <ul class="header">
            <a href="cadastro.html"><li class="botao">Cadastro</li></a>
            <a href="login.html"><li class="botao">login</li></a>
            <a href="attlogin.html"><li class="botao">Atualizar</li></a>

        </ul>

        <div class="corpo">
            <div class="coluna1">

            </div>

            <div class="coluna2">
                <h1 class="titulo">Resposta</h1>
                <%= resposta %>
            </div>
            
            <div class="coluna3">
                
            </div>
        </div>
        <script src="script.js" type="text/javascript" ></script>
    </body>
</html>