/* Background do site */

.bjogo{
    background-image: url('infoImages/pixel-art-artwork-city-sunrise-skyline-cityscape-1981145-wallhere.com.jpg');
}

/* Cabeçalho do site */

.container{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.botao a{
    color:white;
    text-decoration: none;
}

/* Corpo do site */
.corpo{
    display:flex;
    justify-content:center;
}

#jogo1 {

    width: 350px;
    border-color: red;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    background-color: white;
    color: black;
    display: inline-block;
    position: relative;
    top: 60px;
    left: 60px;

}

#jogo2 {

    display: flex;
    justify-items: center;
    position: relative;
    top: 1px;
    left: 40px;
}