.bhome {

    background-image: url('infoImages/papers.co-mo48-jonas-nillson-newyork-white-city-sky-29-wallpaper.jpg');

}

.container{
    list-style: none;
    display: flex;
    justify-content:space-around;
}

.botao a{
    color:black;
    text-decoration: none;
}

.corpo{
    display:flex;
    justify-content:center
}
p {

    color: black;
    margin-left: 100px;
    margin-top: 150px;
    font-size: 15pt;
    width: 700px;
    text-align: center;

}