body{
    background:lightgray;
  text-align:center;
}
.cabecalho{
    float:left;
    width:100%;
    background: bisque;
    border:solid 3px;
}
.cabecalho img{
    width:150px;
    height:150px;
}
.imagem1{
    float:left;
}
.imagem2{
    float:right;
}
.titulo{
    display:flex;
    justify-content:center;
    margin:auto;
    width:68%;
    float:left;
    text-align:center;
    padding-top:60px;
    color:darkgreen;
}
.navegador{
    margin:0px;
    list-style:none;
    padding:0px;
    text-align:center;
    background:lightskyblue;
    float:left;
    width:100%;
    padding:0px;
}
.navegador li{
    font-size:15pt;
    color:darkred;
    display:inline;
    margin-left:2.5%;
    margin-right:2.5%;
}
.navegador a{
  color:darkred;
  text-decoration: none;
}
.livro{
    text-align:center;
}
.livro img{
    padding-right:2.5%;
    padding-left:2.5%;
    display:inline;
    height:400px;
    width:250px;
}
#livro{
    padding-right:2.5%;
    padding-left:2.5%;
    display:inline;
    height:400px;
    width:280px;
}
h2,p{
    text-align:center;
}
p{
    color:indigo;
    font-size:15pt;
    font-family:SansSerif;
}
.frame{
    text-align:center;
}
.frame iframe{
    width:300px;
    height:300px;
    margin-right:2.5%;
    margin-left:2.5%;
}
.tabela{
    display:flex;
    justify-content: center;
    text-align:center;
    margin-bottom:20px;
}
.tabela2{
    margin-top:20px;
    justify-content: center;
    width:38%;
    margin:auto;
    background:yellow;
    padding-right:0px;
    font-size:12pt;
    padding-left:0px;
    margin-bottom:20px;
    text-orientation: inline;
}
.tabela2 a{
    color:darkred;
    text-decoration:none;
}
.tabela2 li{
  padding:0px;
}
.tabela2 div{
  width:100%;
  text-align:left;
}
table{
    border: dashed 5px red;
}
td,th{
    border: solid 2px red;
    color: red;
    font-size:15px;
}
.footer{
    padding-top:10px;
    float:left;
    width:100%;
    background:bisque;
}
.footer div{
    width:80%;
    float:left;
    text-align:center;
    padding-top:40px;
    padding-bottom:50px;
    font-family:Comic Sans Ms;
    font-size:15pt;
}
.footer1{
    float:left;
    width:100px;
    height:95px;
}
.footer2{
    float:right;
    width:80px;
    height:100px;
}}